[submodule "Dependencies/pybind11"]
	path = Dependencies/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "Dependencies/FastSignals"]
	path = Dependencies/FastSignals
	url = https://github.com/ispringtech/FastSignals.git
